/*input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 input[type=number] {
    -moz-appearance:textfield;
} */

body{
	background-color: black;
	color: white;
  padding-top: 50px;
	font-size: 18px;
}
h1{
	color: lime;

}
#navbar > button{
	margin-top: 1.5%;
}
code > script{
	display:inline;
	font-size: inherit;
	color: inherit;
	/*padding: 5px;*/
}
code{
	display: block;
	font-size: 16px;
	background-color: white;
	color: black;
	border-style: solid;;
	border-radius: 5px;
	border-width: 2px;
}
li,label{

	margin-bottom: 5px;
	margin-top: 5px;
}
input, select{
	background-color: white;
	color: black;
}

.right{
	float: right;
}

.Header{
	background-color:#3fd459;
}
.sorter:hover{
	color: red;
}
#funcList{
	min-height: 400px;
}



/*THE ONLY ACTUAL PART OF THE PAGE THAT MAY BE WORTH USING*/

.divtable{
	min-width:700px;
}

.sorter{
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Opera */
}


#DivList-pageNb{
	-moz-appearance:textfield;
	width:30px;
}
#DivList-pageNb::-webkit-outer-spin-button,
#DivList-pageNb::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#DivList-list>div:nth-child(even){
	background-color:#c3b0a2;
}
#DivList-list>div:nth-child(odd){
	background-color:#80ff80;
}
